@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --shiki-color-text: theme(colors.violet.11);
    --shiki-color-background: theme(colors.slate.2);
    --shiki-token-constant: theme(colors.slate.12);
    --shiki-token-string: theme(colors.slate.12);
    --shiki-token-comment: theme(colors.slate.11);
    --shiki-token-keyword: theme(colors.cyan.11);
    --shiki-token-parameter: theme(colors.slate.12);
    --shiki-token-function: theme(colors.indigo.11);
    --shiki-token-string-expression: theme(colors.grass.11);
    --shiki-token-punctuation: theme(colors.slate.11);
    --shiki-token-link: theme(colors.slate.12);
  }

  html {
    @apply bg-main-2 text-base-11 leading-[1.75];
  }

  body {
    @apply text-0;
  }

  h1,
  h2,
  h3,
  p,
  blockquote,
  pre {
    @apply max-w-prose;
  }

  h1,
  h2,
  h3 {
    @apply font-serif leading-[1.2] text-base-12;
  }

  h1 {
    @apply text-4 font-semibold;
  }

  h2 {
    @apply mb-2xs mt-m text-2 font-medium;
  }

  hgroup {
    @apply mb-m;
  }

  p + p {
    @apply mt-m;
  }

  blockquote {
    @apply italic border-l-8 border-main-6 my-l pl-s;
    quotes: "\\201C""\\201D""\\2018""\\2019";
  }

  blockquote p:first-of-type::before {
    content: open-quote;
  }

  blockquote p:last-of-type::after {
    content: close-quote;
  }

  pre {
    @apply bg-base-3 my-m px-s py-2xs rounded-2xs overflow-x-scroll box-border leading-[1.25];
  }

  pre > code {
    @apply -text-1 bg-revert m-none p-none  before:content-none after:content-none font-normal;
  }

  a {
    @apply text-main-11 hover:underline active:text-main-12 aria-current:text-main-12 aria-current:active:text-main-11;
  }

  code {
    @apply bg-base-3 px-3xs py-3xs -my-3xs rounded-2xs text-base-12 before:content-['`'] after:content-['`'];
  }

  strong {
    @apply font-semibold text-base-12;
  }
}

@layer components {
  .cluster {
    @apply flex flex-wrap gap-s;
  }

  .lead {
    @apply mt-3xs text-1 italic;
  }
}
